body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
span{
    color: orange;
}
.fax-section{
    display: flex;
    padding: 5%;
    
}
.wel1{
    width: 50%;
    padding-left: 5%;

}
.wel1 img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.link-cv{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    font-weight: 700;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
}
.orang-color{
    color: orange;
}
.wel2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.expr{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#green-c{
    border-left: 10px solid;
    border-image: linear-gradient(green, red);
    border-image-slice: 1;
}
#blue-c{
    border-left: 7px solid;
    border-image: linear-gradient(red, green);
    border-image-slice: 1;
}
footer{
    text-align: center;
}